---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.

import "../styles/global.css";

export interface Props {
  title: string;
  description: string;
  headerImgSrc?: string;
}

const { title, description, headerImgSrc } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

{headerImgSrc && <link rel="preload" as="image" href={headerImgSrc} />}

<!-- <link rel="preload" as="font" href="/fonts/Gotham-Medium.otf" type="font/otf" />
<link rel="preload" as="font" href="/fonts/Gotham-Book.otf" type="font/otf" />
<link rel="preload" as="font" href="/fonts/Gotham-Light.otf" type="font/otf" /> -->

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://planhumain.com" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content="/fb-logo.png" />

<script defer src="/js/gsap.js"></script>

<style is:global id="omc-styles">
  #_omc .omc-cookies-section h2 {
    display: flex;
  }

  #_omc h2 .omc-collapsible-arrow {
    width: 2.5%;
    margin-top: 2%;
  }

  #_omc .omc-dialog-header h1 {
    text-align: center;
  }

  .omc-dialog-header > div {
    display: none !important;
  }

  [class^="omc"] {
    width: initial;
  }

  #_omc .switch-button[aria-checked="true"] .slider {
    transform: translateX(17.5px) !important;
  }

  #_omc .omc-privacy-icon {
    width: 56px !important;
  }

  @media (max-width: 600px) {
    #_omc .switch-button[aria-checked="true"] .slider {
      transform: translateX(15px) !important;
    }

    #_omc .omc-dialog-footer .a {
      width: auto !important;
      font-size: 0.75rem;
      text-align: center;
    }
  }
</style>

<script defer src="https://ohmycookies-api.0vxq7h.easypanel.host/builder/14.js"
></script>
