---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import i from "../../utils/i18";

export interface Props {
  lang: string;
  path: string;
  headerImgSrc?: string;
  title: string;
  description: string;
}

const { lang, path, headerImgSrc, title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <style>
      @media (max-width: 649px) {
        h1 {
          font-size: 25px !important;
          line-height: 30px !important;
        }
      }
    </style>
    <BaseHead
      headerImgSrc={headerImgSrc}
      title={title}
      description={description}
    />
  </head>
  <body>
    <Header lang={lang} path={path} />
    <slot />
    <Footer lang={lang} />
  </body>
</html>
